<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>  
      <add key="Interval" value="5"/>  
      <add key="SendEmail" value="0"/>
      <add key="portToCheck" value="8181"/>
      <add key="socketServerAddr" value="ITNB614480.pttdigital.corp"/>
      <add key="emailUser" value="narut.tr@pttdigital.com"/>
      <add key="emailPass" value="0"/>
      <add key="emailSendTo" value="narut.tr@pttdigital.com"/>
      <add key="batchFileName" value="StartAutomate.bat"/>
      <add key="targetExe" value="Automate"/>
      <add key="usePowerShell" value="0"/>
      <add key="logServer" value="https://oscar-demo.azurewebsites.net/oscar/log"/>
      <add key="logMethod" value="POST"/>
      <add key="targetCmdPath" value="C:\Program Files\Blue Prism Limited\Blue Prism Automate"/>
      <add key="targetCmdExe" value="AutomateC"/>
      <add key="cmdServer" value="https://oscar-demo.azurewebsites.net/oscar/command"/>
      <add key="cmdMethod" value="PATCH"/>
      <add key="subCpu" value="0"/>
      <add key="restartThreshold" value="12"/>
    </appSettings>  
</configuration>